<style>
.d-flex{
  margin-top:80px;
}
</style>
<%# <div class="vh-100"> %>
<div class="d-flex justify-content-center align-items-center">   <%# flex %>
    <div class="card" style="width: 29rem; height: 25rem;">                      <%#  card  %>
        <div class="card-body text-center">                                     <%#  card body %>
            <div class="instagram-logo-link">
              <%=image_tag("/assets/instagram-new-.jpg" ,style: "width: 200px")  %>
            </div> 
            <p class="text-center text-secondary">SignUp to connect with your friend</p>
            <hr>

<%# <h2>Sign up</h2> %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
     <%= f.text_field :username,placeholder:"       ----username----", autofocus: true %>
  </div><br>

  <div class="field">
      <%= f.email_field :email,placeholder:"           ----email----", autofocus: true, autocomplete: "email" %>
  </div><br>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder:"        ----password----", autocomplete: "new-password" %>
  </div><br>


  <div class="actions">
    <%= f.submit "Sign up",class:"btn btn-primary insta-primary" %>
  </div>


<% end %>

 <%= render "devise/shared/links"  %>
 
 
      </div>
      </div>
      </div>
      </div>