<style>
.d-flex{
  margin-top:80px;
}
</style>
<%# <div class="vh-100"> %>
<div class="d-flex justify-content-center align-items-center">   <%# flex %>
    <div class="card" style="width: 29rem; height: 27rem;">                      <%#  card  %>
        <div class="card-body text-center">                                     <%#  card body %>
            <div class="instagram-logo-link">
              <%=image_tag("/assets/instagram-new-.jpg" ,style: "width: 200px")  %>
            </div> 
            <%# <p class="text-center text-secondary">SignUp to connect with your friend</p> %>
            <hr>
<div class="paragraph">
<h6>Forgot your password?</h6>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
 <h5> <%= render "devise/shared/error_messages", resource: resource %></h5>

  <div class="field">
    <h6><%#= f.label :email %></h6><br>
   <h5> <%= f.email_field :email,placeholder:"            ---email---   ", autofocus: true, autocomplete: "email" %></h5>
  </div><br>

  <div class="actions">
    <h6><%= f.submit "Send me reset password instructions" %></h6>
  </div>
<% end %><br><hr>

<h5><%= render "devise/shared/links" %></h5>
</div>
</div>
</div>
</div>