<style>
  h1{
    padding-top:10px;
    text-align:center;
    font-family: 'Dancing Script', cursive;
  }

  .container{
    text-align:center;
    height:380px;
    width:600px;
    border:1px solid black;
    padding-top:20px;
    padding-bottom:8px;
    font-family: 'Dancing Script', cursive;
  }
</style>

<h1>Create a New Post</h1>
<div class="container">
  <%= form_with(model: @post, url: posts_path, method: :post,remote: true) do |form| %>
    <div class="form-group">

      <%= form.label :image %><br>
      <%= form.file_field :image, class: "form-control" %>

      <%= form.label :Caption %>
      <%= form.text_area :bio, class: "form-control" %><br>
    
    </div>
    <%= form.submit "Create Post", class: "btn btn-primary" %>
  <% end %><br>
  <h5> <%= link_to "", root_path, class: "btn btn-danger fa fa-angle-double-left",style:"background-color:#ff617d" %></h5>
</div>